## ~/.config/bom_weather/bom_weather.config
## List of all Australian forecast districts grouped by state
declare -A DISTRICT_NAMES=(

  ## ===========================
  ## Victoria (VIC)
  ## ===========================
  [VIC_PW001]="Mallee"
  [VIC_PW002]="Wimmera"
  [VIC_PW003]="Northern Country"
  [VIC_PW004]="North East"
  [VIC_PW005]="East Gippsland"
  [VIC_PW006]="West & South Gippsland"
  [VIC_PW007]="Central"
  [VIC_PW008]="North Central"
  [VIC_PW009]="South West"
  [VIC_MW001]="Portland Harbour"
  [VIC_MW005]="Port Phillip Bay"
  [VIC_FA001]="(Non-BoM) CFA & Portable stations"
    
  ## ===========================
  ## New South Wales (NSW)
  ## ===========================
  [NSW_FA001]="Far West"
  [NSW_MW003]="Central West Slopes & Plains"
  [NSW_MW009]="Central Tablelands"
  [NSW_PW001]="Northern Rivers"
  [NSW_PW002]="Mid North Coast"
  [NSW_PW003]="Hunter"
  [NSW_PW004]="Sydney"
  [NSW_PW005]="Sydney Metropolitan"
  [NSW_PW006]="Illawarra"
  [NSW_PW007]="South Coast"
  [NSW_PW008]="Southern Tablelands"
  [NSW_PW009]="Snowy Mountains"
  [NSW_PW010]="South West Slopes"
  [NSW_PW011]="Riverina"
  [NSW_PW012]="Lower Western"
  [NSW_PW013]="Upper Western"
  [NSW_PW014]="North West Slopes & Plains"
  [NSW_PW015]="Northern Tablelands"
  [NSW_PW016]="Central West Slopes"
  [NSW_PW017]="Central West Plains"

  ## ===========================
  ## Queensland (QLD)
  ## ===========================
  [QLD_PW001]="Gulf Country (Queensland) "
  [QLD_PW002]="Northern Goldfields & Upper Flinders"
  [QLD_PW003]="North West"
  [QLD_PW004]="Central West"
  [QLD_PW005]="Channel Country"
  [QLD_PW006]="Maranoa & Warrego"
  [QLD_PW007]="Darling Downs & Granite Belt"
  [QLD_PW008]="Wide Bay & Burnett"
  [QLD_PW009]="Southeast Coast"
  [QLD_PW010]="Capricornia"
  [QLD_PW011]="Central Highlands & Coalfields"
  [QLD_PW012]="Herbert & Lower Burdekin"
  [QLD_PW013]="Northern Tropical Coast"
  [QLD_PW014]="North Tropical Coast"
  [QLD_PW015]="Peninsula"

  ## ===========================
  ## South Australia (SA)
  ## ===========================
  [SA_PW001]="North West Pastoral"
  [SA_PW002]="North East Pastoral"
  [SA_PW003]="West Coast"
  [SA_PW004]="Eastern Eyre Peninsula"
  [SA_PW005]="Lower Eyre Peninsula"
  [SA_PW006]="Yorke Peninsula"
  [SA_PW007]="Kangaroo Island"
  [SA_PW008]="Mount Lofty Ranges"
  [SA_PW009]="Adelaide Metropolitan"
  [SA_PW010]="Murraylands"
  [SA_PW011]="Upper South East"
  [SA_PW012]="Lower South East"
  [SA_PW013]="Flinders"
  [SA_PW014]="Mid North"

  ## ===========================
  ## Western Australia (WA)
  ## ===========================
  [WA_PW001]="Kimberley"
  [WA_PW002]="Pilbara"
  [WA_PW003]="Gascoyne"
  [WA_PW004]="Goldfields"
  [WA_PW005]="Eucla"
  [WA_PW006]="South Interior"
  [WA_PW007]="Central Wheat Belt"
  [WA_PW008]="Lower West"
  [WA_PW009]="South West"
  [WA_PW010]="South Coastal"
  [WA_PW011]="Great Southern"
  [WA_PW012]="Central West"
  [WA_PW013]="Perth Metropolitan"

  ## ===========================
  ## Tasmania (TAS)
  ## ===========================
  [TAS_MW002]="North West Coast"
  [TAS_PW001]="FLINDERS ISLAND"
  [TAS_PW002]="North East"
  [TAS_PW003]="East Coast"
  [TAS_PW004]="Central North"
  [TAS_PW005]="Midlands"
  [TAS_PW006]="Hobart & South East"
  [TAS_PW007]="Upper Derwent Valley"
  [TAS_PW008]="Central Plateau"
  [TAS_PW009]="Western"
  [TAS_PW010]="North West"
  [TAS_PW011]="King island"
  [TAS_FA001]="Antarctica int., islands, non-BoM, TFS, Portable"

  ## ===========================
  ## Northern Territory (NT)
  ## ===========================
  [NT_PW001]="Darwin & Rural"
  [NT_PW002]="Arnhem"
  [NT_PW003]="Tiwi"
  [NT_PW004]="Katherine"
  [NT_PW005]="Roper–McArthur"
  [NT_PW006]="Barkly"
  [NT_PW007]="Simpson Desert"
  [NT_PW008]="Tanami"
  [NT_PW009]="Gulf Country (NT)"

  ## ===========================
  ## Australian Capital Territory (ACT)
  ## ===========================
  # ACT uses NSW districts:
  # Typically NSW_PW004 (Sydney) or NSW_PW008 (Southern Tablelands)
)
